$primaryHeader: #ffffff;
$subtextColor: #d3d3d3;
$formPanelBig: #f2f2f2;
$formBlue: #348fbc;
$formDisabled: #909090;
$selectedOption: #212121;
$font: "Open Sans";

body {
  height: 100vh;
  width: 100vw;
  background-image: url("../Assets/car-finder-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;

  > article {
    margin: auto;
    font-family: $font;
    > h2 {
      color: $primaryHeader;
      font-size: 2rem;
    }
    > h4 {
      color: $subtextColor;
      font-size: 1rem;
    }
    > section {
      background-color: $formPanelBig;
      width: 80%;
      height: 30%;
      padding: 3rem;
      border-radius: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2rem;

      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding-right: 2rem;

        > label {
          width: 10rem;
          font-size: large;
          height: 1.5rem;
        }
        > select {
          height: 1.5rem;

          > option {
            color: $selectedOption;
            text-align: center;
          }
        }
      }

      > #a,
      #b {
        border-right: 1px solid gray;
      }
    }
  }
}

.disabled {
  color: $formDisabled;
}
